<!DOCTYPE html>
<html>
<% include ../partials/admin-head %>
<body>
    <div id="wrapper">
        <% include ../partials/admin-nav %>
           <!-- /. NAV TOP  -->
                <% include ../partials/admin-side %>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Aspirants SMS History</h2>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                 <div class="row">
                     <div class="col-md-12">
                         <!-- Advanced Tables -->
                         <div class="panel panel-default">
                             <div class="panel-heading">
                             </div>
                             <div class="panel-body">
                                 <div class="table-responsive">
                                     <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                         <thead>
                                             <tr>

                                               <th>#</th>
                                               <th>Date</th>
                                               <th>sms</th>
                                               <th>receptients</th>
                                               <th>status</th>

                                             </tr>
                                         </thead>
                                         <tbody>
                                           <% for(i=0; i<logs.length; i++) { %>
                                             <tr>
                                               <td><%= i+1 %></td>
                                               <td><%= logs[i].date %></td>
                                               <td><%= logs[i].sms %></td>
                                               <td><%= logs[i].number %></td>
                                               <td><%= logs[i].status %></td>

                                           </tr>
                                           <% } %>

                                         </tbody>
                                     </table>
                                 </div>

                             </div>
                         </div>
                         <!--End Advanced Tables -->
                     </div>
                 </div>

             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <% include ../partials/admin-scripts %>


</body>
</html>
