<!DOCTYPE html>
<html>
<% include ../partials/admin-head %>
<body>
    <div id="wrapper">
        <% include ../partials/admin-nav %>
           <!-- /. NAV TOP  -->
                <% include ../partials/admin-side %>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Profile Section</h2>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                 <form method="post" action="/user/update/<%= user.id %>" >
               <div class="row">
                 <div class="col-md-4">
                   <!-- Form Elements -->
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Personal Info:
                       </div>
                       <div class="panel-body">
                           <div class="row">

                               <div class="col-md-12">

                                       <div class="form-group  input-group ">
                                           <span class="input-group-addon">FIRST NAME</span>
                                           <input class="form-control" type="text" name="firstname" value="<%= user.firstname %>"/>
                                       </div>
                                       <div class="form-group  input-group ">
                                           <span class="input-group-addon">LAST NAME</span>
                                           <input class="form-control" type="text" name="lastname" value="<%= user.lastname %>"/>
                                       </div>
                                       <div class="form-group  input-group ">
                                           <span class="input-group-addon">GENDER</span>
                                           <input class="form-control" type="text" name="gender" value="<%= user.gender %>"/>
                                       </div>

                               </div>


                           </div>


                       </div>
                   </div>
                    <!-- End Form Elements -->
                 </div>
                 <div class="col-md-4">
                   <!-- Form Elements -->
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Social Platforms:
                       </div>
                       <div class="panel-body">
                           <div class="row">

                               <div class="col-md-12">

                                       <div class="form-group  input-group ">
                                           <span class="input-group-addon">Twitter</span>
                                           <% if(user.twitter) { %>
                                           <input class="form-control" type="text" name="twitter" value="<%= user.twitter %>"/>
                                           <% }else{ %>
                                            <input class="form-control" type="text" name="twitter" placeholder="Paste your twitter link" value=""/>
                                             <% } %>
                                       </div>
                                       <div class="form-group  input-group ">
                                           <span class="input-group-addon">Facebook</span>
                                           <% if(user.facebook) { %>
                                           <input class="form-control" type="text" name="facebook" value="<%= user.facebook %>"/>
                                           <% }else{ %>
                                           <input class="form-control" type="text" name="facebook" placeholder="Paste your facebook link" value=""/>
                                             <% } %>
                                       </div>
                                       <div class="form-group  input-group ">
                                           <span class="input-group-addon">Linkedin</span>
                                           <% if(user.linkedin) { %>
                                           <input class="form-control" type="text" name="linkedin" value="<%= user.linkedin %>"/>
                                           <% }else{ %>
                                           <input class="form-control" type="text" name="linkedin" placeholder="Paste your linkedin link" value=""/>
                                             <% } %>
                                       </div>

                               </div>


                           </div>


                       </div>
                   </div>
                    <!-- End Form Elements -->
                 </div>
                <div class="col-md-4">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Contacts:
                        </div>
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-12">

                                      <div class="form-group  input-group ">
                                      <span class="input-group-addon">MOBILE NO</span>
                                            <input class="form-control" type="text" name="phoneno" value="<%= user.phoneno %>"/>
                                        </div>
                                        <div class="form-group  input-group ">
                                            <span class="input-group-addon">EMAIL</span>
                                            <input class="form-control" type="email" name="email" value="<%= user.email %>"/>
                                        </div>


                                </div>


                            </div><br>
                            <div class="row">
                              <div class="col-lg-offset-5 col-lg-4">
                              <button class="btn btn-default" type="submit"><i class=" fa fa-refresh "></i>Save Changes</button>
                            </div>
                            </div>

                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <!-- Form Elements -->
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Political Info:
                      </div>
                      <div class="panel-body">

                          <div class="row">

                              <div class="col-md-6">

                                    <div class="form-group  input-group ">
                                    <span class="input-group-addon">Campaign Name</span>
                                          <input class="form-control" type="text" name="username" value="<%= user.username %>"/>
                                      </div>
                                      <div class="form-group  input-group ">
                                          <span class="input-group-addon">Party</span>
                                          <% if(user.party) { %>
                                          <input class="form-control" type="text" name="party" value="<%= user.party %>"/>
                                          <% }else{ %>
                                            <input class="form-control" type="text" name="party" placeholder="Update Party"  style="border-color:red"/>
                                            <% } %>
                                      </div>
                                      <div class="form-group  input-group ">
                                          <span class="input-group-addon">Poll Post</span>
                                          <select class="form-control" id="pos" name="post" >
                                            <option  value="<%= user.post %>"><%= user.post %></option>
                                            <option  value="Governor">Governor</option>
                                            <option  value="Senator">Senator</option>
                                            <option  value="MP">Member Of Parliament</option>
                                            <option  value="Women-Rep">Women Rep</option>
                                            <option  value="Mca">McA</option>
                                          </select>
                                      </div>
                                      <div class="form-group  input-group ">
                                          <span class="input-group-addon">Slogan</span>
                                          <% if(user.slogan) { %>
                                          <input class="form-control" type="text" name="slogan" value="<%= user.slogan %>"/>
                                          <% }else{ %>
                                            <input class="form-control" type="text" name="slogan"  placeholder="Update Slogan" style="border-color:red"/>
                                            <% } %>
                                      </div>


                              </div>
                              <div class="col-md-6">

                                    <div class="form-group  input-group ">
                                    <span class="input-group-addon">County</span>
                                    <select class="form-control" id="county" name="county" >
                                      <option value="<%= user.county %>"><%= user.county %></option>
                                      <option value="Nairobi">Nairobi</option>
                                      <option value="Mombasa">Mombasa</option>
                                      <option value="Kericho">Kericho</option>
                                      <option value="Nakuru">Nakuru</option>
                                    </select>
                                      </div>
                                      <div class="form-group  input-group ">
                                          <span class="input-group-addon">Constituency</span>
                                          <input class="form-control" type="text" name="constituency" value="<%= user.constituency %>"/>
                                      </div>
                                      <div class="form-group  input-group ">
                                          <span class="input-group-addon">Ward</span>
                                          <input class="form-control" type="text" name="ward" value="<%= user.ward %>"/>
                                      </div>

                                      <div class="row">
                                        <div class="col-lg-offset-7 col-lg-3">
                                        <button class="btn btn-default" type="submit"><i class=" fa fa-refresh "></i>Save Changes</button>
                                      </div>
                                      </div>

                              </div>


                          </div>


                      </div>
                  </div>
                   <!-- End Form Elements -->
              </div>
          </div>
        </form>
        <!-- /. End of update section  -->
       <form method="post" action="/bio/update/<%= user.id %>" >
          <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bio Section:
                    </div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-offset-2 col-md-8">

                              <% if(user.bio) { %>
                               <p><%= user.bio %></p>
                               <% } %>
                                  <div class="form-group  input-group ">
                                        <span class="input-group-addon"></span>
                                          <% if(user.bio) { %>
                                        <textarea name="bio" class="form-control" rows="4" ><%= user.bio %></textarea>
                                        <% }else{ %>
                                        <textarea name="bio" class="form-control" rows="4" placeholder="Introduce Yourself. Talk about you education background ,both proffessional and political life and about you in general"  value="" style="border-color:red"></textarea>
                                          <% } %>
                                    </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-lg-offset-7 col-lg-3">
                                      <button class="btn btn-default" type="submit"><i class=" fa fa-refresh "></i>Save Changes</button>
                                    </div>
                                    </div>

                            </div>


                        </div>


                    </div>
                </div>
                 <!-- End Form Elements -->
            </div>


            </form>
            <!-- /. End of update section  -->

            <div class="row">
              <div class="col-md-8">
                  <!-- Form Elements -->
                   <form method="post" action="/manifesto/create/<%= user.id %>" >
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Manifesto Section:
                      </div>
                      <div class="panel-body">

                          <div class="row">

                              <div class="col-md-offset-2 col-md-8">

                                <% if(manifestos) { %>
                                  <% for(i=0; i<manifestos.length; i++) { %>
                                 <div><%= i+1 %>.<%= manifestos[i].title %>&nbsp;&nbsp;<a href="/delete/manifesto/<%=manifestos[i].id %>" class="btn btn-danger">Delete</a></div>
                                 <% } %>
                                 <% } %>
                                 <br>
                                    <div class="form-group  input-group ">
                                          <span class="input-group-addon">Add Manifesto</span>

                                          <input name="manifesto" class="form-control" placeholder=""></input>

                                      </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-lg-offset-7 col-lg-3">
                                        <button class="btn btn-default" type="submit"><i class=" fa fa-refresh "></i>Save Changes</button>
                                      </div>
                                      </div>

                              </div>


                          </div>


                      </div>
                      </form>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Party Logo:
                        </div>
                        <div class="panel-body">
                  <div>
                    <% if(user.party_image) {%>
                     <img src="/<%= user.party_image %>" class="user-image img-responsive"/>
                    <% }else {%>
                      <img src="assets/img/find_user.png" class="user-image img-responsive"/>
                    <%}%>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#logo" >Update Image</a>
                  </div>
                  <!-- /. ROW  -->
                  <div class="modal fade" id="logo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                      <form id="contact-form" method="POST" action="/party/logo/update" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
                                        </div>
                                        <div class="modal-body">
                                          <div class="form-group input-group">
                                           <label>File input</label>
                                           <input type="file" name="image" required="true">
                                           </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </div>
                            <!-- modal ends  -->
                      </div>
                      </div>
                  </div>
                   <!-- End Form Elements -->
              </div>

            </div>

    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <% include ../partials/admin-scripts %>


</body>
</html>
