<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body >
<!-- [ LOADERs ]
================================================================================================================================-->

<!-- [ /PRELOADER ]
=============================================================================================================================-->
<!-- [WRAPPER ]
=============================================================================================================================-->
<div class="wrapper">
  <!-- [NAV]-->
<!--  ============================================================================================================================-->
    <!-- Navigation-->
     <!--==========================================-->
     <% include ../partials/nav.ejs %>

    <!-- [/NAV]-->
  <!--============-->

  <section class="why-love theme_background_color" id="">
      <div class="overlay">
    <div class="container">

               <br><div class="row">
                 <div class="WhyLove-heading text-center">

                     <h2 class="sectionTitle">ASPIRANTS PORTAL</h2>
                 </div>
                  <!-- /contact info -->
                  <form id="contact-form" method="POST" action="/search">
                  <div class="col-md-offset-2 col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                     <select class="form-control" id="pos" name="post" required="true" style="background-color : #206020">
                       <option  value="">Select Docket</option>
                       <option  value="All">All</option>
                       <option  value="Governor">Governor</option>
                       <option  value="Senator">Senator</option>
                       <option  value="MP">Member Of Parliament</option>
                       <option  value="Women-Rep">Women Rep</option>
                       <option  value="Mca">McA</option>
                     </select>
                   </div>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                     <select class="form-control" id="county" required="true" name="county" style="background-color : #206020">
                       <option value="">Select County</option>
                       <option  value="All">All</option>
                       <option value="Baringo">Baringo</option>
                       <option value="Bomet">Bomet</option>
                       <option value="Bungoma">Bungoma</option>
                       <option value="Busia">Busia</option>
                       <option value="Marakwet">Elgeyo Marakwet</option>
                       <option value="Embu">Embu</option>
                       <option value="Garissa">Garissa</option>
                       <option value="Homa">Homa Bay</option>
                       <option value="Isiolo">Isiolo</option>
                       <option value="Kajiado">Kajiado</option>
                       <option value="Kakamega">Kakamega</option>
                       <option value="Kericho">Kericho</option>
                       <option value="Kiambu">Kiambu</option>
                       <option value="Kilifi">Kilifi</option>
                       <option value="Kirinyaga">Kirinyaga</option>
                       <option value="Kisii">Kisii</option>
                       <option value="Kisumu">Kisumu</option>
                       <option value="Kitui">Kitui</option>
                       <option value="Kwale">Kwale</option>
                       <option value="Laikipia">Laikipia</option>
                       <option value="Lamu">Lamu</option>
                       <option value="Machakos">Machakos</option>
                       <option value="Makueni">Makueni</option>
                       <option value="Mandera">Mandera</option>
                       <option value="Meru">Meru</option>
                       <option value="Migori">Migori</option>
                       <option value="Marsabit">Marsabit</option>
                       <option value="Mombasa">Mombasa</option>
                       <option value="Muranga">Muranga</option>
                       <option value="Nairobi">Nairobi</option>
                       <option value="Nakuru">Nakuru</option>
                       <option value="Nandi">Nandi</option>
                       <option value="Narok">Narok</option>
                       <option value="Nyamira">Nyamira</option>
                       <option value="Nyandarua">Nyandarua</option>
                       <option value="Nyeri">Nyeri</option>
                       <option value="Samburu">Samburu</option>
                       <option value="Siaya">Siaya</option>
                       <option value="Taveta">Taita Taveta</option>
                       <option value="Tana">Tana River</option>
                       <option value="Tharaka">Tharaka Nithi</option>
                       <option value="Nzoia">Trans Nzoia</option>
                       <option value="Turkana">Turkana</option>
                       <option value="Uasin">Uasin Gishu</option>
                       <option value="Vihiga">Vihiga</option>
                       <option value="Wajir">Wajir</option>
                       <option value="Pokot">West Pokot</option>
                     </select>
                   </div>
                  </div>
                   <div class="col-md-3 col-sm-12 col-xs-12">
                     <button type="submit" class="btn btn-style blue">Search</button>
                   </div>
                   </form>
              </div>
              <br>

             <div class="row" >
                            <!-- /contact info -->
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                              <!-- Form Elements -->
                              <div class="panel panel-default" style="background-color:#206020">

                                  <div class="panel-body" >
                                      <div class="table-responsive" >
                                        <% if(aspirants.length==0){ %>
                                          <h2 style="color:green">There are no registered Aspirants currently</h2>
                                        <% }else{ %>
                                          <table class="table" >
                                              <thead>
                                                  <tr>
                                                      <th>#</th>
                                                      <th>First Name</th>
                                                      <th>Last Name</th>
                                                      <th>Nickname</th>
                                                      <th>Docket</th>
                                                      <th>County</th>
                                                      <th>Constituency</th>
                                                      <th>Ward</th>
                                                      <th>Action</th>

                                                  </tr>
                                              </thead>
                                              <tbody >

                                                <% for(i=0; i<aspirants.length; i++) { %>
                                                  <tr class="">
                                                      <td><%= i+1 %></td>
                                                      <td><%= aspirants[i].firstname %></td>
                                                      <td><%= aspirants[i].lastname %></td>
                                                      <td><%= aspirants[i].username %></td>
                                                      <td><%= aspirants[i].post %></td>
                                                      <td><%= aspirants[i].county %></td>
                                                      <td><%= aspirants[i].constituency %></td>
                                                      <td><%= aspirants[i].ward %></td>
                                                      <td><a href="/profile/<%=aspirants[i].id %>" class="btn btn-success">View</a></td>

                                                  </tr>
                                                 <% } %>

                                              </tbody>
                                          </table>
                                          <% } %>
                                      </div>
                                  </div>

                              </div>
                               <!-- End Form Elements -->

                            </div>


      </div>
      </div>
      </div>

  </section>
  <!-- [/Login]
=============================================================================================================================-->
<!-- [FOOTER]
=============================================================================================================================-->
<% include ../partials/footer.ejs %>

<!-- [/FOOTER]
=============================================================================================================================-->


</div>
<% include ../partials/script.ejs %>
</body>
</html>
