<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body >
<!--
=============================================================================================================================-->
<!-- [WRAPPER ]
=============================================================================================================================-->
<div class="wrapper">
  <!-- [NAV]-->
<!--  ============================================================================================================================-->
    <!-- Navigation-->
     <!--==========================================-->
     <% include ../partials/nav.ejs %>

    <!-- [/NAV]-->
  <!--============-->

  <section class="why-love theme_background_color" id="">
      <div class="overlay">
    <div class="container" >
             <% for(i=0; i<aspirant.length; i++) { %>
               <br><div class="row">
                <!-- /contact info -->
                  <div class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12">
                    <% if(aspirant[i].picture) { %>
                    <div><img src="/<%= aspirant[i].picture %>" class="user-image img-responsive" style="height:180px; width : 200px"/></div>
                    <% }else{ %>
                    <img src="assets/img/find_user.png" class="user-image img-responsive" style="height:180px; width : 200px"/>
                    <%}%>

                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12" >
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12" >
                        <h2>&nbsp;Welcome to <%= aspirant[i].firstname %>'s&nbsp;Portal</h2>
                        <hr>
                      </div>
                    </div><br>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       First Name <strong>&nbsp;&nbsp;<%= aspirant[i].firstname %></strong>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       Last Name <strong>&nbsp;&nbsp;<%= aspirant[i].lastname %></strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       NickName <strong>&nbsp;&nbsp;<%= aspirant[i].username %></strong>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       Gender <strong>&nbsp;&nbsp;<%= aspirant[i].gender %></strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       Docket <strong>&nbsp;&nbsp;<%= aspirant[i].post %></strong>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       County <strong>&nbsp;&nbsp;<%= aspirant[i].county %></strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       Constituency <strong>&nbsp;&nbsp;<%= aspirant[i].constituency %></strong>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12" >
                       Ward <strong>&nbsp;&nbsp;<%= aspirant[i].ward %></strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-12 col-xs-12" >
                        Slogan
                      </div>
                      <div class="col-md-8 col-sm-12 col-xs-12" >
                       <strong>&nbsp;<%= aspirant[i].slogan %></strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-12 col-xs-12" >
                        Follow Me :
                      </div>
                      <div class="col-md-8 col-sm-12 col-xs-12" >
                        <div class="footer-social-icons " >

                            <a href="#"><i class="fa fa-twitter" style="color : blue"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"><i class="fa fa-facebook" style="color : blue"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"><i class="fa fa-linkedin" style="color : blue"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;


                        </div>
                      </div>
                    </div>


                   </div>

                   <div class="col-md-2 col-sm-12 col-xs-12">
                     <% if(aspirant[i].party_image) { %>
                     <div><img src="/<%= aspirant[i].party_image %>" class="user-image img-responsive" style="height:180px; width : 200px"/></div>
                     <% }else{ %>
                     <img src="assets/img/images.png" class="user-image img-responsive" style="height:180px; width : 200px"/>
                     <%}%>
                     <% if(aspirant[i].party) { %>
                     <div>Party<strong>&nbsp;&nbsp;<%= aspirant[i].party %></strong></div>
                     <% }else{ %>
                       <div>Party<strong>&nbsp;&nbsp;Not Updated</strong></div>
                       <%}%>
                   </div>

              </div><br>

              <div class="row">
               <!-- /contact info -->
                 <div class="col-md-offset-1 col-md-7 col-sm-12 col-xs-12">
                   <div class="panel " style="background-color:#206020">
                     <div class="panel-heading">
                      Bio
                     </div>
                       <div class="panel-body jumbotron" style="background-color:#206020">

                    <div class="" >
                      <% if(aspirant[i].bio) { %>
                     <p><%= aspirant[i].bio %></p>
                        <% }else{ %>
                        <p><%= aspirant[i].firstname %>'s&nbsp;&nbsp;Bio currently not updated</p>
                        <%}%>
                    </div>
                 </div>
               </div>
             </div>
                 <div class="col-md-3 col-sm-12 col-xs-12">
                   <div class="panel " style="background-color:#206020">
                     <div class="panel-heading" style="background-color:#206020">
                      Manifesto
                     </div>
                       <div class="panel-body" >
                         <% if(manifestos) { %>
                     <% for(y=0; y<manifestos.length; y++) { %>
                    <div ><%= y+1 %>.&nbsp;&nbsp;<%= manifestos[y].title %></div>
                     <% } %>
                     <% }else{ %>
                       <h3>Manifesto to be unveil soon</h3>
                      <% } %>
                 </div>
               </div>

                 </div>

           </div>

          <br> <div class="row">
            <!-- /contact info -->
              <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                <div class="panel " style="background-color:#206020">
                  <div class="panel-heading">
                   Do you wish to be part of <%= aspirant[i].firstname %>'s Campaign? Add your contacts here .
                  </div>
                  <form id="contact-form" method="POST" action="/contact/new/<%= aspirant[i].id %>">

                      <div class="modal-body">
                        <div class="form-group input-group">
                         <span class="input-group-addon">First Name:</span>
                         <input type="text" name="firstname" class="form-control" placeholder="Required"  required="true" style="background-color : black; color : white">
                         </div>
                         <div class="form-group input-group">
                          <span class="input-group-addon">Last Name:</span>
                          <input type="text" name="lastname" class="form-control" placeholder="Optional" style="background-color : black; color : white">
                          </div>
                        <div class="form-group input-group">
                         <span class="input-group-addon">Moblie No:</span>
                         <input type="text" name="phoneno" class="form-control" placeholder="Should Begin with +2547..." required="true" style="background-color : black; color : white">
                     </div>
                      </div>
                      <div class="modal-footer">
                          <button type="reset" class="btn btn-default" >Reset</button>
                          <button type="submit" class="btn btn-primary">Create</button>
                      </div>
                    </form>
            </div>
          </div>


        </div>
              <% } %>


      </div>
      </div>

  </section>
  <!-- [/Login]
=============================================================================================================================-->
<!-- [FOOTER]
=============================================================================================================================-->
<% include ../partials/footer.ejs %>

<!-- [/FOOTER]
=============================================================================================================================-->


</div>
<% include ../partials/script.ejs %>
</body>
</html>
